.list_portfolio {
  display: flex;
  flex-wrap: wrap;
  margin-top: 40px;
  gap: 40px;
}

.list_portfolio li {
  border-radius: 15px;
  width: 280px;
  height: 250px;
  background-color: #F8F8F8;
  transform: rotate(-5deg);
}

.list_portfolio li > div {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: space-between;
  padding: 30px 20px;
  border-radius: 15px;
  width: 280px;
  height: 250px;
  border: 1px solid transparent;
  -webkit-box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.08);
  -moz-box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.08);
  box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.08);
  background-color: #FFFFFF;
  transform: rotate(5deg);

}



.box_image_show {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.7);
  position: absolute;
  z-index: 240;
  top: -130px;
  left: -100vw;
  width: 100vw;
  height: 100vh;
}

.box_image_show div {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  width:720px;
  height:450px;
  border-radius:10px;
  transform:scale(0);
  transition:0.5s;
  background-color: rgba(0, 0, 0, 0.5);
}

.box_image_show div button {
  position: absolute;
  top: -20px;
  right: 25px;
  color:#e21c1c;
}