@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&family=Rubik+Mono+One&display=swap');

::-webkit-scrollbar {width:7px;}
::-webkit-scrollbar-track-piece {background-color:#efefef;}
::-webkit-scrollbar-thumb {background-color:#666666;}

* {font-family:'roboto';}

.active {
  color:#38bdf8;
}

.main_pages {
  position: fixed;
  display:flex;
  top:120px;
  right:0px;
  padding:2% 0px;
  gap:15px;
  width:100%;
  height:calc(100% - 120px);
}

.container_pages {
  overflow-y: auto;
}

@media screen and (max-width: 550px) {
  .main_pages {
    position: relative;
    top:90px;
  }

  .container_pages {
    height: auto;
    overflow: visible;
  }
}

.link_social_network {width:25px; height:25px; border-radius:100%; display:flex; justify-content:center; align-items:center; transition:0.5s; gap:5px; background-color:#ffffff; color:#878787; box-shadow: 0 1px 5px rgba(0, 0, 0, 0.2);}
.link_social_network span {font-size:13px; display: none;}
.facebook_link_inside {width:100px; border-radius:7px; background-color:#1559a1; color:#ffffff; transition:0.5s;}
.facebook_link_inside span {display:block;}
.instagram_link_inside {width:100px; border-radius:7px; background-image: linear-gradient(to bottom right, #c13584, #e1306c, #fd1d1d, #f56040, #f77737, #fcaf45); color:#ffffff; transition:0.5s;}
.instagram_link_inside span {display:block;}
.linkedin_link_inside {width:100px; border-radius:7px; background-color:#005f91; color:#ffffff; transition:0.5s;}
.linkedin_link_inside span {display:block;}
.github_link_inside {width:100px; border-radius:7px; background-color:#17202a; color:#ffffff; transition:0.5s;}
.github_link_inside span {display:block;}

.border-b-1 {border-bottom:1px solid;}
.border-t-1 {border-top:1px solid;}
.border-l-1 {border-left:1px solid;}
.border-r-1 {border-right:1px solid;}

.bg-dark-gray     {background-color:#878787 !important;}
.bg-gray-light    {background-color:#f5f5f5 !important;}
.bg-blue          {background-color:#38bdf8 !important;}
.bg-blue-light    {background-color:#ebf8fe !important;}
.bg-pink          {background-color:#f472b6 !important;}
.bg-pink-2        {background-color:#e879f9 !important;}
.bg-purple        {background-color:#818cf8 !important;}
.bg-purple-2      {background-color:#a78bfa !important;}
.bg-purple-light  {background-color:#e0e7ff !important;}
.bg-green         {background-color:#50d67c !important;}
.bg-orange        {background-color:#ff6c37 !important;}
.bg-white         {background-color:#ffffff !important;}
.bg-black         {background-color:#2c3343 !important;}
.bg-linkedin      {background-color:#0077B5 !important;}

.text-dark-gray     {color:#878787 !important;}
.text-gray-light    {color:#f5f5f5 !important;}
.text-blue          {color:#38bdf8 !important;}
.text-blue-light    {color:#ebf8fe !important;}
.text-pink          {color:#f472b6 !important;}
.text-pink-2        {color:#e879f9 !important;}
.text-purple        {color:#818cf8 !important;}
.text-purple-2      {color:#a78bfa !important;}
.text-purple-light  {color:#e0e7ff !important;}
.text-green         {color:#50d67c !important;}
.text-orange        {color:#ff6c37 !important;}
.text-white         {color:#ffffff !important;}
.text-black         {color:#2c3343 !important;}

.border-dark-gray     {border-color:#878787 !important;}
.border-gray-light    {border-color:#f5f5f5 !important;}
.border-blue          {border-color:#38bdf8 !important;}
.border-blue-light    {border-color:#ebf8fe !important;}
.border-pink          {border-color:#f472b6 !important;}
.border-pink-2        {border-color:#e879f9 !important;}
.border-purple        {border-color:#818cf8 !important;}
.border-purple-2      {border-color:#a78bfa !important;}
.border-purple-light  {border-color:#e0e7ff !important;}
.border-green         {border-color:#50d67c !important;}
.border-orange        {border-color:#ff6c37 !important;}
.border-white         {border-color:#ffffff !important;}
.border-black         {border-color:#2c3343 !important;}

.border-b-dark-gray     {border-bottom-color:#878787 !important;}
.border-b-gray-light    {border-bottom-color:#f5f5f5 !important;}
.border-b-blue          {border-bottom-color:#38bdf8 !important;}
.border-b-blue-light    {border-bottom-color:#ebf8fe !important;}
.border-b-pink          {border-bottom-color:#f472b6 !important;}
.border-b-pink-2        {border-bottom-color:#e879f9 !important;}
.border-b-purple        {border-bottom-color:#818cf8 !important;}
.border-b-purple-2      {border-bottom-color:#a78bfa !important;}
.border-b-purple-light  {border-bottom-color:#e0e7ff !important;}
.border-b-green         {border-bottom-color:#50d67c !important;}
.border-b-orange        {border-bottom-color:#ff6c37 !important;}
.border-b-white         {border-bottom-color:#ffffff !important;}
.border-b-black         {border-bottom-color:#2c3343 !important;}

.border-t-dark-gray     {border-top-color:#878787 !important;}
.border-t-gray-light    {border-top-color:#f5f5f5 !important;}
.border-t-blue          {border-top-color:#38bdf8 !important;}
.border-t-blue-light    {border-top-color:#ebf8fe !important;}
.border-t-pink          {border-top-color:#f472b6 !important;}
.border-t-pink-2        {border-top-color:#e879f9 !important;}
.border-t-purple        {border-top-color:#818cf8 !important;}
.border-t-purple-2      {border-top-color:#a78bfa !important;}
.border-t-purple-light  {border-top-color:#e0e7ff !important;}
.border-t-green         {border-top-color:#50d67c !important;}
.border-t-orange        {border-top-color:#ff6c37 !important;}
.border-t-white         {border-top-color:#ffffff !important;}
.border-t-black         {border-top-color:#2c3343 !important;}

.border-l-dark-gray     {border-left-color:#878787 !important;}
.border-l-gray-light    {border-left-color:#f5f5f5 !important;}
.border-l-blue          {border-left-color:#38bdf8 !important;}
.border-l-blue-light    {border-left-color:#ebf8fe !important;}
.border-l-pink          {border-left-color:#f472b6 !important;}
.border-l-pink-2        {border-left-color:#e879f9 !important;}
.border-l-purple        {border-left-color:#818cf8 !important;}
.border-l-purple-2      {border-left-color:#a78bfa !important;}
.border-l-purple-light  {border-left-color:#e0e7ff !important;}
.border-l-green         {border-left-color:#50d67c !important;}
.border-l-orange        {border-left-color:#ff6c37 !important;}
.border-l-white         {border-left-color:#ffffff !important;}
.border-l-black         {border-left-color:#2c3343 !important;}

.border-r-dark-gray     {border-right-color:#878787 !important;}
.border-r-gray-light    {border-right-color:#f5f5f5 !important;}
.border-r-blue          {border-right-color:#38bdf8 !important;}
.border-r-blue-light    {border-right-color:#ebf8fe !important;}
.border-r-pink          {border-right-color:#f472b6 !important;}
.border-r-pink-2        {border-right-color:#e879f9 !important;}
.border-r-purple        {border-right-color:#818cf8 !important;}
.border-r-purple-2      {border-right-color:#a78bfa !important;}
.border-r-purple-light  {border-right-color:#e0e7ff !important;}
.border-r-green         {border-right-color:#50d67c !important;}
.border-r-orange        {border-right-color:#ff6c37 !important;}
.border-r-white         {border-right-color:#ffffff !important;}
.border-r-black         {border-right-color:#2c3343 !important;}
